/* CUSTOM PROPY */
:root {
    --color:#ffffff;
    --color-blue:#79C8C7;
    --color-light:#F67E7E;
    --color-state-green:#012F34;
    --color-footer:#002529;
    --global-color:#014E56;
    --color-globus:#2C6269;
    --fonts:'Livvic', 'Arial', sans-serif;
}

/* FONTS */
@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-SemiBold.woff2') format('woff2'),
    url('../fonts/Livvic-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-Medium.woff2') format('woff2'),
    url('../fonts/Livvic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-Bold.woff2') format('woff2'),
    url('../fonts/Livvic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/* GLOBAL-STYLE */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    font-family: var(--fonts);
    color: var(--color);
    background-color: var(--global-color);
}


/* GLOBAL-STYLE-LINKS */
.global-sytle {
    display: inline-block;
    text-decoration: none;
    padding: 9px 33px 11px 32px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    border-radius: 24px;
}

*:focus {
    outline-color: var(--color-light);                             
    outline-offset: 2px;
    outline-width: 3px;
    outline-style: dashed;
}

img {
    max-width: 100%;
    height: auto;
}

/* .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} */

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* SITE-HEADER */
.site-header {
    padding-top: 73px;
    padding-bottom: 73px;
}

.site-header__container {
    display: flex;
    align-items: center;
}

.site-header-logo {
    display: flex;
    flex-shrink: 0;
    margin-right: 80px;
    transition: 0.1s ease;
}

.site-header-logo:hover {
    opacity: 0.6;
}

.site-header-logo:active {
    opacity: 0.9;
}

.site-header__logo--img {
    width: 160px;
    height: 40px;
    object-fit: contain;
}

.sitenav {
    margin-right: auto;
}

.sitenav__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sitenav__iteam:not(:last-child) {
    margin-right: 40px;
}

.sitenav__link {
    display: block;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    cursor: pointer;
    color: var(--color);
    transition: 0.1s ease;
}

.sitenav__link:hover {
    color: var(--color-light);
}

.sitenav__link:active {
    opacity: 0.9;
}

.site-header__btn {
    border: 2px solid var(--color);
    color: var(--color);
    transition: 0.1s ease;
}

.site-header__btn:hover {
    color: var(--color-footer);
    background-color: var(--color);
}

.site-header__btn:active {
    opacity: 0.9;
}

/* HERO */
.hero {
    padding-top: 56px;
    padding-bottom: 250px;
    position: relative;
    background-image: 
    url('../img/pozition-img.svg'),
    url(../img/hero-bottom-img.svg);
    background-repeat:
    no-repeat,
    no-repeat;
    background-position:
    calc(50% - 721px) 53px, 
    calc(50% - -376px) 404px;
}

.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__title-wrapper {
    width: 620px;
    margin-right: 30px;
}

.hero__title {
    margin: 0;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
}

.coral-font {
    color: var(--color-light);
    text-align: right;
}

.hero__text-wrapper {
    width: 445px;
    
}

.hero__line {
    width: 50px;
    height: 4px;
    background-color: var(--color-blue);
    border: none;
    margin: 0;
    margin-bottom: 74px;
}

.hero__text {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}


/* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
}

.build-manage {
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: var(--color-state-green);
    background-image: url('../img/main-right-img.svg');
    background-repeat: no-repeat;
    background-position: calc(50% - -720px) 436px;
}

.build-manage__container {
    display: flex;
    justify-content: space-between;
}

.build-menege__title-wrapper {
    width: 445px;
    margin-right: 125px;
}

.build__line {
    width: 50px;
    height: 4px;
    background-color: var(--color-light);
    margin: 0;
    border: none;
    margin-bottom: 54px;
}

.build__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    margin: 0;
}

.build-manage__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-top: 54px;
}

.build-menege__iteam {
    display: flex;
    max-width: 540px;
}

.build-menege__iteam:not(:last-child) {
    margin-bottom: 32px;
}

.build-menege-wrapper {
    display: flex;
    align-items: center;
    width: 87px;
    height: 56px;
    background-color: var(--color-globus);
    border-radius: 50%;
    position: relative;
}

.build-menege__img {
    width: 56px;
    height: 56px;
    object-fit: contain;
    position: absolute;
    right: 16px;
    bottom: 16px;
}

.build-menege__info {
    display: flex;
    flex-direction: column;
    margin-left: 37px;
}

.build-menege__heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F67E7E;
    margin: 0;
    margin-bottom: 16px;
}

.build-menege__text {
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
}


/* DELIVERNING */
.delivering {
    padding-top: 140px;
    padding-bottom: 140px;
}

.delivering__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delivering__title {
    width: 932px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    margin: 0;
    margin-bottom: 92px;
}

.blue-font {
    color: var(--color-blue);
}

.delivering__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}
.delivering__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.delivering__item::before {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: url("../img/quote.svg");
    background-repeat: no-repeat;
    z-index: -1;
    top: -34px;
    left: 140px;
}

.delivering__item:not(:last-child) {
    margin-right: 30px;
}

.delivering__text {
    margin: 0;
    margin-bottom: 24px;
}

.delivering__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: var(--color-blue);
    margin: 0;
    margin-bottom: 2px;
}
.delivering__field {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    margin-bottom: 32px;
}
.delivering__img {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    object-fit: cover;
}


/* LOWER-SECTION */
.lower-section {
    padding-top: 76px;
    padding-bottom: 76px;
    background-color: var(--color-light);
    background-image: url(../img/ready-bg.svg);
    background-repeat: no-repeat;
    background-position: calc(50% - 620px) 62px;
}
.lower-section__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lower-section__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: var(--color-state-green);
    margin: 0;
    margin-right: 260px;
}
.lower-section__btn {
    border: 2px solid var(--color-state-green);
    color: var(--color-state-green);
    transition: 0.1s ease;
}

.lower-section__btn:hover {
    color: var(--color);
    background-color: var(--color-state-green);
}

.lower-section__btn:active {
    opacity: 0.9;
}


/* SITE-FOOTER */
.site-footer {
    padding-top: 43px;
    padding-bottom: 48px;
    background-color: var(--color-footer);
}

.site-footer__container {
    display: flex;
    align-items: center;
}

.site-footer__data {
    display: flex;
    flex-direction: column;
    margin-right: 125px;
}

.site-footer__logo {
    display: flex;
    flex-shrink: 0;
}

.site-footer__logo:hover {
    opacity: 0.6;
} 

.site-footer__logo:active {
    opacity: 0.9;
} 

.site-footer__logo-img {
    width: 160px;
    height: 40px;
    object-fit: contain;
}

.site-footer__list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 25px;
}

.site-footer__item:not(:last-child) {
    margin-right: 40px;
}

.site-footer__link {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: var(--color);
    transition: 0.1s ease;
}

.site-footer__link:hover {
    color: var(--color-light);
} 

.site-footer__link:hover {
    opacity: 0.9;
} 

.text-inner {
    margin-right: auto;
}

.site-footer__text {
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
}

.social__wrapper {
    display: flex;
    flex-direction: column;
}

.social__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    list-style: none;
}

.social__iteam:not(:last-child) {
    margin-right: 16px;
}

.social__link {
    display: flex;
}

.social__img:hover {
    color: var(--color-light);
}

.social__img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    color: var(--color);
    transition: 0.1s ease;
}

.social__info {
    margin-top: 56px;
    color: rgba(255, 255, 255, 0.5);
}


/* ABOUT.HTML */


/* HERO */
.hero-about {
    padding-top: 47px;
    padding-bottom: 120px;
    background-image: url("../img/about-hero-img.svg");
    background-repeat: no-repeat;
    background-position: calc(50% - -723px) 121px;
}


.hero-about__container {
    display: flex;
    justify-content: space-between;
}

.hero-about__title-wrapper {
    width: 350px;
    margin-right: 30px;
}
.hero-about__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 100px;
    margin: 0;
}

.hero-about__text-wrapper {
    width: 730px;
}

.hero-about__line {
    width: 50px;
    height: 4px;
    margin: 0;
    border: none;
    background-color: var(--color-light);
    margin-bottom: 40px;
}

.hero-about__text {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
}